html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

body {
  position: fixed;
  inset: 0;
  background: black;
}

.hero {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  object-position: 50% 50%;

  margin: 0;
  padding: 0;
  display: block;
}
